body{
    background-color: #2FC8B8!important;
}
#contactbtn{
    background-color: #1E776E;
    width: 173px;
    height: 51px;
    border-radius: 6px;
    opacity: 1;
    font: normal normal bold 18px/22px Roboto;
    color: #ffffff;
}
#updatestxt{
    margin-top: 55px!important;
    text-align: center;
    font: normal normal bold 72px/42px Bebas Neue;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
#updtxt{
    text-align: center;
    font: normal normal 300 18px/22px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
#formcountry{
    top: 302px!important;
    width: 642px!important;
    background: #E6F5F3 0% 0% no-repeat padding-box!important;
    border-radius: 8px!important;
    opacity: 1!important;
}
#displaycontentone{
    top: 74px;
    width: 1320px;
    height: 261px;
    background: #1E776E 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
    opacity: 1;
}
#displaycontentone p:first-child{
    margin-top: 1rem;
    text-align: center;
    font: normal normal 300 80px/100px Roboto;
    letter-spacing: 0px;
    color: #2FC8B8;
    opacity: 1;
}
#displaycontentone p:nth-child(2){
    text-align: center;
    font: normal normal bold 22px/27px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}
#displaycontenttwoone{
    width: 1320px;
    height: 222px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 16px #0000001F;
    border-radius: 0px 0px 8px 8px;
    opacity: 1;
}
#displaycontenttwoone p:first-child{
    margin-top: 2rem;
    text-align: center;
    font: normal normal 300 42px/51px Roboto;
    letter-spacing: 0px;
    color: #2FC8B8;
    opacity: 1;
}
#displaycontenttwoone p:nth-child(2){
    margin-top: 2rem!important;
    text-align: center;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
#displaycontenttwoone p:last-child{
    text-align: center;
    font: normal normal 300 16px/19px Roboto;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
#displaytwo{
    background-color: white;
}
#pcontinentstxt{
    margin-top: 6rem;
    text-align: center;
    font: normal normal bold 48px/42px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
#percontinent{
    margin-top: 3rem;
}
#ctext{
    margin-top: 3rem;
    text-align: center;
    font: normal normal bold 32px/42px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
#ctexttwo{
    margin-top: 4rem;
    text-align: center;
    font: normal normal 300 56px/67px Roboto;
    letter-spacing: 0px;
    color: #2FC8B8;
    opacity: 1;
}
#ctextthree{
    text-align: center;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}
#ctextfour{
    margin-top: 5rem;
    text-align: center;
    font: normal normal 300 16px/19px Roboto;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
#continent{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 16px #0000001F;
    border-radius: 8px;
    opacity: 1;
}
#ctwo{
    background: #2FC8B8 0% 0% no-repeat padding-box;
    border-radius: 0px 8px 8px 0px;
    opacity: 1;
}
#death-number{
    margin-top: 25px!important;
    text-align: center;
font: normal normal 300 24px/29px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
#death-text{
    text-align: center;
font: normal normal bold 10px/12px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
#total-deaths{
    text-align: center;
font: normal normal 300 13px/16px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
#partthreeone{
    background-image: url("../images/profile.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}
#partthreetwo{
    background: #EEF6F6 0% 0% no-repeat padding-box;
    opacity: 1;
}
#three-text{
    margin-top: 14rem;
    margin-left: 4rem;
    text-align: left;
    font: normal normal bold 72px/42px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
#three-text-two{
    margin-top: 3rem;
    margin-left: 4rem;
    text-align: left;
    font: normal normal bold 24px/29px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
#three-text-three{
    margin-left: 4rem;
    text-align: left;
    font: normal normal 300 16px/19px Roboto;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
#contact{
    background: #1E776E 0% 0% no-repeat padding-box;
    opacity: 1;
}
#contact-header p{
    margin-top: 6rem;
    text-align: center;
    font: normal normal bold 48px/42px Bebas Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#contact-q p{
    margin-top: 2rem;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    text-align: center;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#contact-a p{
    margin-top: 0!important;
    padding-top: 0!important;
    text-align: center;
    font: normal normal 200 24px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#footer{
    background: #000000 0% 0% no-repeat padding-box;
    opacity:   .7;
}
#footer div{
    padding: 1.5rem 4rem!important;
}
#footer p{
    padding: 0!important;
    margin: 0!important;
    font: normal normal 300 18px/22px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}
#footer p span{

    font: normal normal bold 18px/22px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}